body {
    font-family: Arial, sans-serif;
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px; /* Set max-width for better control */
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.add-recipe-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.recipe-card {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.recipe-card h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

input[type="file"] {
    padding: 3px; /* Less padding for file input */
}

textarea {
    resize: vertical; /* Allows vertical resizing only */
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.edit-button, .delete-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.edit-button {
    background-color: #007bff;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}

.back {
    text-decoration: none;
}
img{
    width: 350px;
}

@media (max-width: 768px) {
    .recipes-list {
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }

    .container {
        width: 90%;
        padding: 15px; /* Adjust padding for smaller screens */
    }
}
